<table align=center valign=top border=0>
									
									<tr>
										<th>Число</th>
										<th class=first_in_group>Температура</th>
										<th>Давление</th>
										<th>Облачность</th>
										<th>Явления</th>
										<th>Ветер</th>
										<th class=first_in_group>Температура1</th>
										<th>Давление1</th>
										<th>Облачность1</th>
										<th>Явления1</th>
										<th class=last>Ветер1</th>
									</tr>
									<tbody>
																																							<tr align="center">
											<td class=first>1</td>
																							<td class='first_in_group positive'>+2</td>
												<td>760</td>
												<td><img src=//st6.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st7.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st8.gismeteo.ru/static/diary/img/w1.gif" class='screen_icon' /><img src="//st4.gismeteo.ru/static/diary/img/w1-bw.gif" class='print_icon' /><br />СВ 1м/с</span></td>
																																		<td class='first_in_group positive'>+1</td>
												<td>759</td>
												<td><img src=//st5.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st6.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td><img src=//st7.gismeteo.ru/static/diary/img/snow.png class='label_icon label_small screen_icon' /><img src=//st8.gismeteo.ru/static/diary/img/snow-bw.png class='label_icon label_small print_icon' /></td>
												<td><span><img src="//st4.gismeteo.ru/static/diary/img/w1.gif" class='screen_icon' /><img src="//st5.gismeteo.ru/static/diary/img/w1-bw.gif" class='print_icon' /><br />СВ 1м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>2</td>
																							<td class='first_in_group positive'>+2</td>
												<td>758</td>
												<td><img src=//st6.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st7.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td><img src=//st8.gismeteo.ru/static/diary/img/rain.png class='label_icon label_small screen_icon' /><img src=//st4.gismeteo.ru/static/diary/img/rain-bw.png class='label_icon label_small print_icon' /></td>
												<td><span><img src="//st5.gismeteo.ru/static/diary/img/w2.gif" class='screen_icon' /><img src="//st6.gismeteo.ru/static/diary/img/w2-bw.gif" class='print_icon' /><br />В 2м/с</span></td>
																																		<td class='first_in_group positive'>+1</td>
												<td>759</td>
												<td><img src=//st7.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st8.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td><img src=//st4.gismeteo.ru/static/diary/img/snow.png class='label_icon label_small screen_icon' /><img src=//st5.gismeteo.ru/static/diary/img/snow-bw.png class='label_icon label_small print_icon' /></td>
												<td><span><img src="//st6.gismeteo.ru/static/diary/img/w2.gif" class='screen_icon' /><img src="//st7.gismeteo.ru/static/diary/img/w2-bw.gif" class='print_icon' /><br />В 2м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>3</td>
																							<td class='first_in_group'>0</td>
												<td>766</td>
												<td><img src=//st8.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st4.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td><img src=//st5.gismeteo.ru/static/diary/img/snow.png class='label_icon label_small screen_icon' /><img src=//st6.gismeteo.ru/static/diary/img/snow-bw.png class='label_icon label_small print_icon' /></td>
												<td><span><img src="//st7.gismeteo.ru/static/diary/img/w5.gif" class='screen_icon' /><img src="//st8.gismeteo.ru/static/diary/img/w5-bw.gif" class='print_icon' /><br />ЮЗ 3м/с</span></td>
																																		<td class='first_in_group'>-1</td>
												<td>767</td>
												<td><img src=//st4.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st5.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st6.gismeteo.ru/static/diary/img/w5.gif" class='screen_icon' /><img src="//st7.gismeteo.ru/static/diary/img/w5-bw.gif" class='print_icon' /><br />ЮЗ 3м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>4</td>
																							<td class='first_in_group'>0</td>
												<td>772</td>
												<td><img src=//st8.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st4.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st5.gismeteo.ru/static/diary/img/w2.gif" class='screen_icon' /><img src="//st6.gismeteo.ru/static/diary/img/w2-bw.gif" class='print_icon' /><br />В 1м/с</span></td>
																																		<td class='first_in_group'>-1</td>
												<td>773</td>
												<td><img src=//st7.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st8.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st4.gismeteo.ru/static/diary/img/w2.gif" class='screen_icon' /><img src="//st5.gismeteo.ru/static/diary/img/w2-bw.gif" class='print_icon' /><br />В 1м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>5</td>
																							<td class='first_in_group'>-1</td>
												<td>773</td>
												<td><img src=//st6.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st7.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st8.gismeteo.ru/static/diary/img/w1.gif" class='screen_icon' /><img src="//st4.gismeteo.ru/static/diary/img/w1-bw.gif" class='print_icon' /><br />СВ 1м/с</span></td>
																																		<td class='first_in_group'>-1</td>
												<td>772</td>
												<td><img src=//st5.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st6.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st7.gismeteo.ru/static/diary/img/w1.gif" class='screen_icon' /><img src="//st8.gismeteo.ru/static/diary/img/w1-bw.gif" class='print_icon' /><br />СВ 1м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>6</td>
																							<td class='first_in_group'>-2</td>
												<td>770</td>
												<td><img src=//st4.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st5.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st6.gismeteo.ru/static/diary/img/w1.gif" class='screen_icon' /><img src="//st7.gismeteo.ru/static/diary/img/w1-bw.gif" class='print_icon' /><br />СВ 1м/с</span></td>
																																		<td class='first_in_group'>-2</td>
												<td>769</td>
												<td><img src=//st8.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st4.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st5.gismeteo.ru/static/diary/img/w1.gif" class='screen_icon' /><img src="//st6.gismeteo.ru/static/diary/img/w1-bw.gif" class='print_icon' /><br />СВ 1м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>7</td>
																							<td class='first_in_group'>-3</td>
												<td>765</td>
												<td><img src=//st7.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st8.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td><img src=//st4.gismeteo.ru/static/diary/img/snow.png class='label_icon label_small screen_icon' /><img src=//st5.gismeteo.ru/static/diary/img/snow-bw.png class='label_icon label_small print_icon' /></td>
												<td><span><img src="//st6.gismeteo.ru/static/diary/img/w1.gif" class='screen_icon' /><img src="//st7.gismeteo.ru/static/diary/img/w1-bw.gif" class='print_icon' /><br />СВ 1м/с</span></td>
																																		<td class='first_in_group'>-4</td>
												<td>764</td>
												<td><img src=//st8.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st4.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td><img src=//st5.gismeteo.ru/static/diary/img/snow.png class='label_icon label_small screen_icon' /><img src=//st6.gismeteo.ru/static/diary/img/snow-bw.png class='label_icon label_small print_icon' /></td>
												<td><span><img src="//st7.gismeteo.ru/static/diary/img/w1.gif" class='screen_icon' /><img src="//st8.gismeteo.ru/static/diary/img/w1-bw.gif" class='print_icon' /><br />СВ 1м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>8</td>
																							<td class='first_in_group'>-4</td>
												<td>764</td>
												<td><img src=//st4.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st5.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st6.gismeteo.ru/static/diary/img/w2.gif" class='screen_icon' /><img src="//st7.gismeteo.ru/static/diary/img/w2-bw.gif" class='print_icon' /><br />В 1м/с</span></td>
																																		<td class='first_in_group'>-8</td>
												<td>765</td>
												<td><img src=//st8.gismeteo.ru/static/diary/img/sun.png class='label_icon label_small screen_icon' /><img src=//st4.gismeteo.ru/static/diary/img/sun-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st5.gismeteo.ru/static/diary/img/w2.gif" class='screen_icon' /><img src="//st6.gismeteo.ru/static/diary/img/w2-bw.gif" class='print_icon' /><br />В 1м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>9</td>
																							<td class='first_in_group'>-10</td>
												<td>766</td>
												<td><img src=//st7.gismeteo.ru/static/diary/img/sun.png class='label_icon label_small screen_icon' /><img src=//st8.gismeteo.ru/static/diary/img/sun-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span>Ш</span></td>
																																		<td class='first_in_group'>-12</td>
												<td>766</td>
												<td><img src=//st4.gismeteo.ru/static/diary/img/sunc.png class='label_icon label_small screen_icon' /><img src=//st5.gismeteo.ru/static/diary/img/sunc-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span>Ш</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>10</td>
																							<td class='first_in_group'>-11</td>
												<td>766</td>
												<td><img src=//st6.gismeteo.ru/static/diary/img/sun.png class='label_icon label_small screen_icon' /><img src=//st7.gismeteo.ru/static/diary/img/sun-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st8.gismeteo.ru/static/diary/img/w1.gif" class='screen_icon' /><img src="//st4.gismeteo.ru/static/diary/img/w1-bw.gif" class='print_icon' /><br />СВ 1м/с</span></td>
																																		<td class='first_in_group'>-13</td>
												<td>767</td>
												<td><img src=//st5.gismeteo.ru/static/diary/img/sun.png class='label_icon label_small screen_icon' /><img src=//st6.gismeteo.ru/static/diary/img/sun-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st7.gismeteo.ru/static/diary/img/w1.gif" class='screen_icon' /><img src="//st8.gismeteo.ru/static/diary/img/w1-bw.gif" class='print_icon' /><br />СВ 1м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>11</td>
																							<td class='first_in_group'>-10</td>
												<td>764</td>
												<td><img src=//st4.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st5.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st6.gismeteo.ru/static/diary/img/w3.gif" class='screen_icon' /><img src="//st7.gismeteo.ru/static/diary/img/w3-bw.gif" class='print_icon' /><br />ЮВ 2м/с</span></td>
																																		<td class='first_in_group'>-11</td>
												<td>764</td>
												<td><img src=//st8.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st4.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td><img src=//st5.gismeteo.ru/static/diary/img/snow.png class='label_icon label_small screen_icon' /><img src=//st6.gismeteo.ru/static/diary/img/snow-bw.png class='label_icon label_small print_icon' /></td>
												<td><span><img src="//st7.gismeteo.ru/static/diary/img/w3.gif" class='screen_icon' /><img src="//st8.gismeteo.ru/static/diary/img/w3-bw.gif" class='print_icon' /><br />ЮВ 2м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>12</td>
																							<td class='first_in_group'>-11</td>
												<td>761</td>
												<td><img src=//st4.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st5.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st6.gismeteo.ru/static/diary/img/w2.gif" class='screen_icon' /><img src="//st7.gismeteo.ru/static/diary/img/w2-bw.gif" class='print_icon' /><br />В 2м/с</span></td>
																																		<td class='first_in_group'>-12</td>
												<td>761</td>
												<td><img src=//st8.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st4.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st5.gismeteo.ru/static/diary/img/w2.gif" class='screen_icon' /><img src="//st6.gismeteo.ru/static/diary/img/w2-bw.gif" class='print_icon' /><br />В 2м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>13</td>
																							<td class='first_in_group'>-13</td>
												<td>764</td>
												<td><img src=//st7.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st8.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td><img src=//st4.gismeteo.ru/static/diary/img/snow.png class='label_icon label_small screen_icon' /><img src=//st5.gismeteo.ru/static/diary/img/snow-bw.png class='label_icon label_small print_icon' /></td>
												<td><span><img src="//st6.gismeteo.ru/static/diary/img/w2.gif" class='screen_icon' /><img src="//st7.gismeteo.ru/static/diary/img/w2-bw.gif" class='print_icon' /><br />В 1м/с</span></td>
																																		<td class='first_in_group'>-13</td>
												<td>764</td>
												<td><img src=//st8.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st4.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td><img src=//st5.gismeteo.ru/static/diary/img/snow.png class='label_icon label_small screen_icon' /><img src=//st6.gismeteo.ru/static/diary/img/snow-bw.png class='label_icon label_small print_icon' /></td>
												<td><span><img src="//st7.gismeteo.ru/static/diary/img/w2.gif" class='screen_icon' /><img src="//st8.gismeteo.ru/static/diary/img/w2-bw.gif" class='print_icon' /><br />В 1м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>14</td>
																							<td class='first_in_group'>-13</td>
												<td>763</td>
												<td><img src=//st4.gismeteo.ru/static/diary/img/sun.png class='label_icon label_small screen_icon' /><img src=//st5.gismeteo.ru/static/diary/img/sun-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st6.gismeteo.ru/static/diary/img/w1.gif" class='screen_icon' /><img src="//st7.gismeteo.ru/static/diary/img/w1-bw.gif" class='print_icon' /><br />СВ 2м/с</span></td>
																																		<td class='first_in_group'>-16</td>
												<td>763</td>
												<td><img src=//st8.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st4.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td><img src=//st5.gismeteo.ru/static/diary/img/snow.png class='label_icon label_small screen_icon' /><img src=//st6.gismeteo.ru/static/diary/img/snow-bw.png class='label_icon label_small print_icon' /></td>
												<td><span><img src="//st7.gismeteo.ru/static/diary/img/w1.gif" class='screen_icon' /><img src="//st8.gismeteo.ru/static/diary/img/w1-bw.gif" class='print_icon' /><br />СВ 2м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>15</td>
																							<td class='first_in_group'>-16</td>
												<td>762</td>
												<td><img src=//st4.gismeteo.ru/static/diary/img/suncl.png class='label_icon label_small screen_icon' /><img src=//st5.gismeteo.ru/static/diary/img/suncl-bw.gif class='label_icon label_small print_icon' /></td>
												<td><img src=//st6.gismeteo.ru/static/diary/img/snow.png class='label_icon label_small screen_icon' /><img src=//st7.gismeteo.ru/static/diary/img/snow-bw.png class='label_icon label_small print_icon' /></td>
												<td><span><img src="//st8.gismeteo.ru/static/diary/img/w7.gif" class='screen_icon' /><img src="//st4.gismeteo.ru/static/diary/img/w7-bw.gif" class='print_icon' /><br />СЗ 1м/с</span></td>
																																		<td class='first_in_group'>-14</td>
												<td>761</td>
												<td><img src=//st5.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st6.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td><img src=//st7.gismeteo.ru/static/diary/img/snow.png class='label_icon label_small screen_icon' /><img src=//st8.gismeteo.ru/static/diary/img/snow-bw.png class='label_icon label_small print_icon' /></td>
												<td><span><img src="//st4.gismeteo.ru/static/diary/img/w7.gif" class='screen_icon' /><img src="//st5.gismeteo.ru/static/diary/img/w7-bw.gif" class='print_icon' /><br />СЗ 1м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>16</td>
																							<td class='first_in_group'>-13</td>
												<td>764</td>
												<td><img src=//st6.gismeteo.ru/static/diary/img/sunc.png class='label_icon label_small screen_icon' /><img src=//st7.gismeteo.ru/static/diary/img/sunc-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st8.gismeteo.ru/static/diary/img/w0.gif" class='screen_icon' /><img src="//st4.gismeteo.ru/static/diary/img/w0-bw.gif" class='print_icon' /><br />С 1м/с</span></td>
																																		<td class='first_in_group'>-14</td>
												<td>764</td>
												<td><img src=//st5.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st6.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td><img src=//st7.gismeteo.ru/static/diary/img/snow.png class='label_icon label_small screen_icon' /><img src=//st8.gismeteo.ru/static/diary/img/snow-bw.png class='label_icon label_small print_icon' /></td>
												<td><span><img src="//st4.gismeteo.ru/static/diary/img/w0.gif" class='screen_icon' /><img src="//st5.gismeteo.ru/static/diary/img/w0-bw.gif" class='print_icon' /><br />С 1м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>17</td>
																							<td class='first_in_group'>-8</td>
												<td>762</td>
												<td><img src=//st6.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st7.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td><img src=//st8.gismeteo.ru/static/diary/img/snow.png class='label_icon label_small screen_icon' /><img src=//st4.gismeteo.ru/static/diary/img/snow-bw.png class='label_icon label_small print_icon' /></td>
												<td><span><img src="//st5.gismeteo.ru/static/diary/img/w6.gif" class='screen_icon' /><img src="//st6.gismeteo.ru/static/diary/img/w6-bw.gif" class='print_icon' /><br />З 2м/с</span></td>
																																		<td class='first_in_group'>-8</td>
												<td>762</td>
												<td><img src=//st7.gismeteo.ru/static/diary/img/sunc.png class='label_icon label_small screen_icon' /><img src=//st8.gismeteo.ru/static/diary/img/sunc-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st4.gismeteo.ru/static/diary/img/w6.gif" class='screen_icon' /><img src="//st5.gismeteo.ru/static/diary/img/w6-bw.gif" class='print_icon' /><br />З 2м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>18</td>
																							<td class='first_in_group'>-5</td>
												<td>762</td>
												<td><img src=//st6.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st7.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td><img src=//st8.gismeteo.ru/static/diary/img/snow.png class='label_icon label_small screen_icon' /><img src=//st4.gismeteo.ru/static/diary/img/snow-bw.png class='label_icon label_small print_icon' /></td>
												<td><span><img src="//st5.gismeteo.ru/static/diary/img/w6.gif" class='screen_icon' /><img src="//st6.gismeteo.ru/static/diary/img/w6-bw.gif" class='print_icon' /><br />З 1м/с</span></td>
																																		<td class='first_in_group'>-5</td>
												<td>762</td>
												<td><img src=//st7.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st8.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st4.gismeteo.ru/static/diary/img/w6.gif" class='screen_icon' /><img src="//st5.gismeteo.ru/static/diary/img/w6-bw.gif" class='print_icon' /><br />З 1м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>19</td>
																							<td class='first_in_group'>-5</td>
												<td>760</td>
												<td><img src=//st6.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st7.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st8.gismeteo.ru/static/diary/img/w5.gif" class='screen_icon' /><img src="//st4.gismeteo.ru/static/diary/img/w5-bw.gif" class='print_icon' /><br />ЮЗ 2м/с</span></td>
																																		<td class='first_in_group'>-5</td>
												<td>760</td>
												<td><img src=//st5.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st6.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st7.gismeteo.ru/static/diary/img/w5.gif" class='screen_icon' /><img src="//st8.gismeteo.ru/static/diary/img/w5-bw.gif" class='print_icon' /><br />ЮЗ 2м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>20</td>
																							<td class='first_in_group'>-4</td>
												<td>761</td>
												<td><img src=//st4.gismeteo.ru/static/diary/img/sun.png class='label_icon label_small screen_icon' /><img src=//st5.gismeteo.ru/static/diary/img/sun-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st6.gismeteo.ru/static/diary/img/w5.gif" class='screen_icon' /><img src="//st7.gismeteo.ru/static/diary/img/w5-bw.gif" class='print_icon' /><br />ЮЗ 2м/с</span></td>
																																		<td class='first_in_group'>-7</td>
												<td>760</td>
												<td><img src=//st8.gismeteo.ru/static/diary/img/suncl.png class='label_icon label_small screen_icon' /><img src=//st4.gismeteo.ru/static/diary/img/suncl-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st5.gismeteo.ru/static/diary/img/w5.gif" class='screen_icon' /><img src="//st6.gismeteo.ru/static/diary/img/w5-bw.gif" class='print_icon' /><br />ЮЗ 2м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>21</td>
																							<td class='first_in_group'>-9</td>
												<td>755</td>
												<td><img src=//st7.gismeteo.ru/static/diary/img/sunc.png class='label_icon label_small screen_icon' /><img src=//st8.gismeteo.ru/static/diary/img/sunc-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st4.gismeteo.ru/static/diary/img/w2.gif" class='screen_icon' /><img src="//st5.gismeteo.ru/static/diary/img/w2-bw.gif" class='print_icon' /><br />В 1м/с</span></td>
																																		<td class='first_in_group'>-10</td>
												<td>755</td>
												<td><img src=//st6.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st7.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td><img src=//st8.gismeteo.ru/static/diary/img/snow.png class='label_icon label_small screen_icon' /><img src=//st4.gismeteo.ru/static/diary/img/snow-bw.png class='label_icon label_small print_icon' /></td>
												<td><span><img src="//st5.gismeteo.ru/static/diary/img/w2.gif" class='screen_icon' /><img src="//st6.gismeteo.ru/static/diary/img/w2-bw.gif" class='print_icon' /><br />В 1м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>22</td>
																							<td class='first_in_group'>-2</td>
												<td>749</td>
												<td><img src=//st7.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st8.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st4.gismeteo.ru/static/diary/img/w2.gif" class='screen_icon' /><img src="//st5.gismeteo.ru/static/diary/img/w2-bw.gif" class='print_icon' /><br />В 2м/с</span></td>
																																		<td class='first_in_group positive'>+1</td>
												<td>749</td>
												<td><img src=//st6.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st7.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td><img src=//st8.gismeteo.ru/static/diary/img/rain.png class='label_icon label_small screen_icon' /><img src=//st4.gismeteo.ru/static/diary/img/rain-bw.png class='label_icon label_small print_icon' /></td>
												<td><span><img src="//st5.gismeteo.ru/static/diary/img/w2.gif" class='screen_icon' /><img src="//st6.gismeteo.ru/static/diary/img/w2-bw.gif" class='print_icon' /><br />В 2м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>23</td>
																							<td class='first_in_group positive'>+2</td>
												<td>752</td>
												<td><img src=//st7.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st8.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st4.gismeteo.ru/static/diary/img/w5.gif" class='screen_icon' /><img src="//st5.gismeteo.ru/static/diary/img/w5-bw.gif" class='print_icon' /><br />ЮЗ 3м/с</span></td>
																																		<td class='first_in_group positive'>+2</td>
												<td>753</td>
												<td><img src=//st6.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st7.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st8.gismeteo.ru/static/diary/img/w5.gif" class='screen_icon' /><img src="//st4.gismeteo.ru/static/diary/img/w5-bw.gif" class='print_icon' /><br />ЮЗ 3м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>24</td>
																							<td class='first_in_group positive'>+3</td>
												<td>750</td>
												<td><img src=//st5.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st6.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st7.gismeteo.ru/static/diary/img/w4.gif" class='screen_icon' /><img src="//st8.gismeteo.ru/static/diary/img/w4-bw.gif" class='print_icon' /><br />Ю 2м/с</span></td>
																																		<td class='first_in_group positive'>+2</td>
												<td>751</td>
												<td><img src=//st4.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st5.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st6.gismeteo.ru/static/diary/img/w4.gif" class='screen_icon' /><img src="//st7.gismeteo.ru/static/diary/img/w4-bw.gif" class='print_icon' /><br />Ю 2м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>25</td>
																							<td class='first_in_group positive'>+5</td>
												<td>751</td>
												<td><img src=//st8.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st4.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st5.gismeteo.ru/static/diary/img/w4.gif" class='screen_icon' /><img src="//st6.gismeteo.ru/static/diary/img/w4-bw.gif" class='print_icon' /><br />Ю 2м/с</span></td>
																																		<td class='first_in_group positive'>+4</td>
												<td>753</td>
												<td><img src=//st7.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st8.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st4.gismeteo.ru/static/diary/img/w4.gif" class='screen_icon' /><img src="//st5.gismeteo.ru/static/diary/img/w4-bw.gif" class='print_icon' /><br />Ю 2м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>26</td>
																							<td class='first_in_group positive'>+3</td>
												<td>751</td>
												<td><img src=//st6.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st7.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td><img src=//st8.gismeteo.ru/static/diary/img/rain.png class='label_icon label_small screen_icon' /><img src=//st4.gismeteo.ru/static/diary/img/rain-bw.png class='label_icon label_small print_icon' /></td>
												<td><span><img src="//st5.gismeteo.ru/static/diary/img/w2.gif" class='screen_icon' /><img src="//st6.gismeteo.ru/static/diary/img/w2-bw.gif" class='print_icon' /><br />В 1м/с</span></td>
																																		<td class='first_in_group positive'>+3</td>
												<td>750</td>
												<td><img src=//st7.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st8.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st4.gismeteo.ru/static/diary/img/w2.gif" class='screen_icon' /><img src="//st5.gismeteo.ru/static/diary/img/w2-bw.gif" class='print_icon' /><br />В 1м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>27</td>
																							<td class='first_in_group positive'>+2</td>
												<td>749</td>
												<td><img src=//st6.gismeteo.ru/static/diary/img/sunc.png class='label_icon label_small screen_icon' /><img src=//st7.gismeteo.ru/static/diary/img/sunc-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st8.gismeteo.ru/static/diary/img/w6.gif" class='screen_icon' /><img src="//st4.gismeteo.ru/static/diary/img/w6-bw.gif" class='print_icon' /><br />З 1м/с</span></td>
																																		<td class='first_in_group positive'>+1</td>
												<td>750</td>
												<td><img src=//st5.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st6.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st7.gismeteo.ru/static/diary/img/w6.gif" class='screen_icon' /><img src="//st8.gismeteo.ru/static/diary/img/w6-bw.gif" class='print_icon' /><br />З 1м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>28</td>
																							<td class='first_in_group positive'>+2</td>
												<td>753</td>
												<td><img src=//st4.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st5.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st6.gismeteo.ru/static/diary/img/w2.gif" class='screen_icon' /><img src="//st7.gismeteo.ru/static/diary/img/w2-bw.gif" class='print_icon' /><br />В 2м/с</span></td>
																																		<td class='first_in_group positive'>+1</td>
												<td>752</td>
												<td><img src=//st8.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st4.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st5.gismeteo.ru/static/diary/img/w2.gif" class='screen_icon' /><img src="//st6.gismeteo.ru/static/diary/img/w2-bw.gif" class='print_icon' /><br />В 2м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>29</td>
																							<td class='first_in_group'>0</td>
												<td>743</td>
												<td><img src=//st7.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st8.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td><img src=//st4.gismeteo.ru/static/diary/img/snow.png class='label_icon label_small screen_icon' /><img src=//st5.gismeteo.ru/static/diary/img/snow-bw.png class='label_icon label_small print_icon' /></td>
												<td><span><img src="//st6.gismeteo.ru/static/diary/img/w1.gif" class='screen_icon' /><img src="//st7.gismeteo.ru/static/diary/img/w1-bw.gif" class='print_icon' /><br />СВ 1м/с</span></td>
																																		<td class='first_in_group'>0</td>
												<td>741</td>
												<td><img src=//st8.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st4.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td><img src=//st5.gismeteo.ru/static/diary/img/snow.png class='label_icon label_small screen_icon' /><img src=//st6.gismeteo.ru/static/diary/img/snow-bw.png class='label_icon label_small print_icon' /></td>
												<td><span><img src="//st7.gismeteo.ru/static/diary/img/w1.gif" class='screen_icon' /><img src="//st8.gismeteo.ru/static/diary/img/w1-bw.gif" class='print_icon' /><br />СВ 1м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>30</td>
																							<td class='first_in_group'>0</td>
												<td>739</td>
												<td><img src=//st4.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st5.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td><img src=//st6.gismeteo.ru/static/diary/img/snow.png class='label_icon label_small screen_icon' /><img src=//st7.gismeteo.ru/static/diary/img/snow-bw.png class='label_icon label_small print_icon' /></td>
												<td><span><img src="//st8.gismeteo.ru/static/diary/img/w2.gif" class='screen_icon' /><img src="//st4.gismeteo.ru/static/diary/img/w2-bw.gif" class='print_icon' /><br />В 1м/с</span></td>
																																		<td class='first_in_group'>-2</td>
												<td>740</td>
												<td><img src=//st5.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st6.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td><img src=//st7.gismeteo.ru/static/diary/img/snow.png class='label_icon label_small screen_icon' /><img src=//st8.gismeteo.ru/static/diary/img/snow-bw.png class='label_icon label_small print_icon' /></td>
												<td><span><img src="//st4.gismeteo.ru/static/diary/img/w2.gif" class='screen_icon' /><img src="//st5.gismeteo.ru/static/diary/img/w2-bw.gif" class='print_icon' /><br />В 1м/с</span></td>
																					</tr>
																																							<tr align="center">
											<td class=first>31</td>
																							<td class='first_in_group'>-3</td>
												<td>742</td>
												<td><img src=//st6.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st7.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td></td>
												<td><span><img src="//st8.gismeteo.ru/static/diary/img/w6.gif" class='screen_icon' /><img src="//st4.gismeteo.ru/static/diary/img/w6-bw.gif" class='print_icon' /><br />З 2м/с</span></td>
																																		<td class='first_in_group'>-4</td>
												<td>743</td>
												<td><img src=//st5.gismeteo.ru/static/diary/img/dull.png class='label_icon label_small screen_icon' /><img src=//st6.gismeteo.ru/static/diary/img/dull-bw.gif class='label_icon label_small print_icon' /></td>
												<td><img src=//st7.gismeteo.ru/static/diary/img/snow.png class='label_icon label_small screen_icon' /><img src=//st8.gismeteo.ru/static/diary/img/snow-bw.png class='label_icon label_small print_icon' /></td>
												<td><span><img src="//st4.gismeteo.ru/static/diary/img/w6.gif" class='screen_icon' /><img src="//st5.gismeteo.ru/static/diary/img/w6-bw.gif" class='print_icon' /><br />З 2м/с</span></td>
																					</tr>
																		</tbody>
								</table>